<!-- Page Content -->
<div class="contato">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 titulo-contato">
        <h1 class="display-3 titulo-grande-contato">Contato</h1>
        <p class="lead">Aqui você pode esclarecer alguma dúvida, nos contar como foi a sua experiencia conosco ou deixar uma mensagem.</p>
    </header>

    <form class="mbr-form">
        <div class="row row-sm-offset">

            <div class="col-md-4 multi-horizontal" data-for="name">
                <div class="form-group">
                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2w">Nome</label>

                    <input type="text" class="form-control-contato" name="name" data-form-field="Name" required=""
                        id="name-form1-2w" placeholder="Francisco de Sousa">

                </div>
            </div>

            <div class="col-md-4 multi-horizontal" data-for="email">
                <div class="form-group">
                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2w">E-mail</label>

                    <input type="email" class="form-control-contato" name="email" data-form-field="Email" required=""
                        id="email-form1-2w" placeholder="francisco@example.com">

                </div>
            </div>

            <div class="col-md-4 multi-horizontal" data-for="phone">
                <div class="form-group">
                    <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2w">Telefone</label>

                    <input type="tel" class="form-control-contato" name="phone" data-form-field="Phone" id="phone-form1-2w" placeholder="(21) 95678-9547">
                    
                </div>
            </div>
        </div>

        <div class="form-group" data-for="message">
            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2w">Mensagem</label>

            <textarea type="text" class="form-control-contato" name="message" rows="7" data-form-field="Message"
                id="message-form1-2w" placeholder="Escreva aqui"></textarea>

        </div>

        <br>

        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-form display-4" id="enviar" (click)='botaoEnviar()'>Enviar</button>
        </span>
    </form>
</div>
<br>